<div class="row">
  <div class="col-12">
    <p><b>Featured</b></p>
  </div>
  <div class="col-3 ">
    <div class="grey-block">

    </div>

  </div>
  <div class="col-3 ">
    <div class="grey-block">

    </div>

  </div>
  <div class="col-3 ">
    <div class="grey-block">

    </div>

  </div>
  <div class="col-3 ">
    <div class="grey-block">

    </div>

  </div>
  <div class="col-3 ">
    <div class="grey-block">

    </div>

  </div>
  <div class="col-3 ">
    <div class="grey-block">

    </div>

  </div>
  <div class="col-3 ">
    <div class="grey-block">

    </div>

  </div>
  <div class="col-3 ">
    <div class="grey-block">

    </div>

  </div>
  <div class="col-12 text-center">
    <button class="btn browse-all-btn">Browse all</button>
  </div>


</div>
