<div class="content">
  <nav class="top-nav navbar navbar-expand-lg bg-transparent ">
    <a style="margin-left: 40px;" class="navbar-brand" href="#"><img src="../../../assets/logo.png" alt=""></a>

    <div class='nav-item ml-auto'>
      <a [routerLink]="['/invite']" style="cursor: pointer" routerLinkActive="router-link-active"
        class="nav-link invite-link">Invite
        friends</a>
    </div>
    <div class="nav-item">
      <button [routerLink]="['/login']" routerLinkActive="router-link-active"
        class="nav-link btn logout-btn">logout</button>
    </div>

  </nav>


  <div class="container">
    <div class="row">
      <div class="offset-4 col-4 text-center">

        <img class="card-logo" src="../../../assets/card-logo.png" alt=""> <br> <br>
        <p style="font-size: 24px;"><b>We're curating assets for our <br> marketplace.</b></p>
        <p class="details">Be one of the early creators and have more assets ready to be sold before other sellers,
          when we launch.
        </p>
        <br>
        <button [routerLink]="['/assets']" routerLinkActive="router-link-active" class="btn submit-btn"><i
            class="fas fa-plus" style="margin-right: 16px;"></i> <span class="border-left"
            style="padding-left: 22px;">Upload
            Now</span> </button>

        <br><br><br><br><br><br> <br><br><br>
      </div>
    </div>
  </div>

</div>

<div class="demo">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="heading-title"> <b> How to Upload </b></h2>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline">
            <div class="timeline-content">




            </div>
          </div>
          <div class="timeline" style="margin-top: 140px;">
            <div class="timeline-icon"></div>
            <div class="timeline-content">

              <h1 class="title"> <b> Components</b></h1>
              <p style="font-size: 10px; color: red;"><i>See more examples</i></p>



            </div>

            <div class="shift-right grey-box text-center">
              <img style="margin-top: 25%" src="../../../assets/component.png" alt="">
            </div>



          </div>


          <div class="timeline" style="margin-top: 140px;">
            <div class="timeline-icon"></div>
            <div class="timeline-content right">
              <h1 class="title"> <b> Cards</b></h1>
              <p style="font-size: 10px; color: red;"><i>See more examples</i></p>

            </div>
            <div class="shift-left  grey-box text-center">
              <img style="margin-top: 22%; height: 135px;" src="../../../assets/card.png" alt="">
            </div>
          </div>



          <div class="timeline" style="margin-top: 140px;">
            <div class="timeline-icon"></div>
            <div class="timeline-content">

              <h1 class="title"> <b> Grouping</b></h1>



            </div>

            <div style="padding-top: 10%;" class="shift-right grey-box text-center">
              <h1><b> GIF</b></h1>
            </div>



          </div>
          <div class="timeline" style="margin-top: 140px;">
            <div class="timeline-content">




            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button [routerLink]="['/assets']" routerLinkActive="router-link-active" class="btn submit-btn"><i
            class="fas fa-plus" style="margin-right: 16px;"></i> <span class="border-left"
            style="padding-left: 22px;">Upload
            Now</span> </button>

      </div>
      <br><br><br>
    </div>
    <div style="margin-top: 80px;" class="row">

      <div class="col-12 text-center">
        <h1> <b> How you earn</b></h1>
      </div>

    </div>
    <div class="row">
      <div style="padding: 25px 225px;" class="col">
        <p><b>How much I can earn?</b></p> <br>
        <p style="color: #707070">You’ll get a full 60% of the shared subscription revenue for each asset downloaded. We
          add all the fees
          collected through subscriptions and divide that by the total number of assets that got downloaded that month.
          <br><br>
          This means we give 60% of everything we earn to our creators, every month.
          <br><br></p>
        <p>
          <b>How do I get paid?</b> <br> <br>
        </p>
        <p style="color: #707070">
          We pay out to all the creators through PayPal at the start of each month if your account has made a minimum of
          $10.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background: #F4F4F4; height: 100px;">
  <div class="row">
    <span style="    position: absolute;
    left: 65px;
    margin-top: 18px;"> beta</span>
    <img style="padding: 30px;" src="../../../assets/logo.png" alt="">
  </div>
</div>
