<div class="container">
  <div class="row">
    <div style="margin-top: 100px;" class="col-12 text-center">
      <i style="font-size: 40px; margin-bottom: 50px;" class="fas fa-smile"></i> <br>
      <h4>Asset uploaded</h4> <br>
      <p style="font-size: 11px;  color: grey;">Your asset is under review to ensure <br>
        to help us maintain the quality of the marketplace.
      </p><br>
      <button mat-raised-button mat-dialog-close [routerLink]="['/assets']" routerLinkActive="router-link-active"
        style="margin-bottom: 50px;" class="btn publish-another-btn">Publish Another</button>
    </div>
  </div>
</div>
